# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:clear-newt-40 # team: lorenz, project: memory-11979

NEXT_PUBLIC_CONVEX_URL=https://clear-newt-40.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://clear-newt-40.convex.site
